@import "../../vars";

.header-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: header-block;

    @media (max-width: 800px) {
        flex-direction: column;
        margin-top: -4px;
        gap: 8px;
        @include marginsBtwBlocksMob();
    }

    &__title-container {
        @extend %flex-column;
        gap: 5px;
        max-width: 50%;

        @media (max-width: 800px) {
            max-width: unset;
        }

        &__title {
            margin: 0;
            @include boldBigText();

            @media (max-width: 800px) {
                line-height: 28px;
            }
        }

        &__description {
            margin: 0;
            color: $lightColor;
        }
    }

    &__price-container {
        display: flex;
        gap: 18px;
        align-items: center;

        &__text-block {
            @extend %flex-column;
            gap: 5px;
            align-items: flex-end;
            max-width: 200px;

            &__price {
                @include boldSmallText();
            }

            &__amount {
                color: $lightColor;
            }

            @media (max-width: 800px) {
                flex-direction: row;
            }
        }

        @media (max-width: 500px) {
            justify-content: space-between;
            gap: 10px;
        }
    }
}