@import "../../vars";

.button-share {
    @include button($lightBackgroundColor, 9px, 9px, (100vw / (1280/14)), none, none, none, none);
    height: fit-content;

    @media (max-width: 1279px) {
        padding: (100vw / (1280/9));
    }

    @media (max-width: 767px) {
        padding: 5.5px;
        border-radius: 4px;
    }
}

.button-arrow {
    @include button($lightBackgroundColor, 8px, 9px, 40px, none, none, none, none);
}

.button-light-text {
    @include button($lightBackgroundColor, 14px, 20px, 30px, $darkColor, normal, $mainTextSize, $mainTextSize);
}

.button-blue-text {
    @include button($blueColor, 16px, 0, 30px, white, bold, $mainTextSize, $mainTextSize);
}

.button__content {
    z-index: 2;
    display: flex;
    width: fit-content;
    height: fit-content;
    
    &__text {

        &_disable {
            display: none;
        }
    }

    &__icon {
        width: calc(100vw / (1280/24));
        height: calc(100vw / (1280/24));
        min-width: 13px;
        min-height: 13px;
        max-width: 24px;
        max-height: 24px;

        &_disable {
            display: none;
        }
    }
}