@import "../../vars";

.about {
    grid-area: about;

    &__facts-container {
        display: flex;
        gap: 6px;
        
        @media (max-width: 1179px) {
            flex-wrap: wrap;
        }
    }

    &__description {
        @extend %flex-column;
        gap: 20px;
        margin-top: 30px;

        &__title {
            margin: 0;
            color: $darkColor;
        }

        &__text-cover {
            &__text {
                margin: 0;
                max-height: 108px;
                overflow: hidden;
                
                &_open {
                    margin: 0;
                    overflow: visible;
                }
            }

            &__dotts {
                
                &_disabled {
                    display: none;
                }
            }
        }

        &__button {
            background: none;
            padding: 0;
            border: none;
            cursor: pointer;
            display: flex;
            gap: 10px;
            font-family: "Exo2";
            font-size: $mainTextSize;
            color: $darkColor;
            align-items: center;

            &__arrow {
                &_open {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}