@import "../../../vars";

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    left: auto;
    right: 10px;
}

.arrow-disabled {
    background-color: rgb(157, 168, 183);
}