@import "../../vars";

.facts {
    grid-area: facts;
    display: flex;
    gap: 6px;
    height: fit-content;

    @media (max-width: 1279px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1079px) {
        grid-template-columns: 1fr auto;
    }

    @media (max-width: 800px) {
        @include marginsBtwBlocksMob();
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }
}