@import "../../vars";

.contacts {
    grid-area: contacts;
    background-color: #F8FAFC;
    @extend %border-radius;
    padding: 20px;
    @extend %flex-column;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    white-space: nowrap;

    &__title {
        font-weight: bold;
        color: $darkColor;
        margin-bottom: 2px;
    }

    &__text {
        color: $lightColor;
    }

    &__phone-number {
        color: $lightColor;
        margin: 2px 0 20px 0;

        &__number {
            color: $blueColor;
            font-weight: bold;
            margin-right: 5px;
        }
    }
}